@keyframes imgAnimate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes textAnimate {
  40%,
  60% {
    left: calc(100% + 5px);
  }

  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    top: -560px;
  }
}

@keyframes animate {
  0% {
    transform: translate(-100px, 30px) scale(0.4) rotate(0deg);
    border-radius: 0;
    z-index: 1;
  }
  50% {
    transform: translate(100px, -30px) scale(0.4) rotate(180deg);
    border-radius: 0;
    z-index: 1;
  }
  50.00001% {
    transform: translate(100px, -30px) scale(0.4) rotate(180deg);
    border-radius: 50%;

    z-index: 3;
  }
  100% {
    transform: translate(-100px, 30px) scale(0.4) rotate(360deg);
    border-radius: 50%;
    z-index: 3;
  }
}
