doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="description", content="We Provieds Quizzes For (HTML, CSS, JS, React) To Make You Know Your Level In Each One")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="HTML Exam, Js Exam,JavaScript Exam , CSS Exam, React Exam, HTML, CSS, Javascript, React")
        title Examiner

        <!-- ------------------------------------  CSS Files ------------------------------------ -->
        link(rel="stylesheet", href="css/all.min.css")    
        link(rel="stylesheet", href="css/main.css")
    body 
        
        <!-- ------------------------------------  Header Box ------------------------------------ -->       
        header.header 
            .container
                .logo
                    a(href="#") Exam
                        span iner

                ul.main-list
                    .lists
                        li
                            a(href="#") Home
                        li
                            a(href="#about") About
                        li
                            a(href="#testimonials") Testimonials
                        li
                            a(href="#events") Events

                        li
                            a(href="./Exams/index.html") Exams

                        li
                            a(href="./results/index.html") Results

                    .icon 

                .toggle-btn 
                    i(class="fa-solid fa-bars")



        <!-- ------------------------------------  About Box ------------------------------------ -->       
        section.slider#slider
            img(class="shape circle" src="images/circle1.png", alt="Circle")
            img(class="shape triangle" src="images/triangle.png", alt="Triangle")
            .container 
                .content-box
                    .content-info
                        h3 Slider
                        h1 Provied Quizzes
                        .wrapper
                            h1 In
                            ul
                                li 
                                    span HTML
                                li 
                                    span CSS
                                li 
                                    span JS
                                li 
                                    span ReactJs
                                li 
                                    span TypeScript
                                li 
                                    span NodeJs
                                li 
                                    span PHP
                                li 
                                    span Python


                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores incidunt eaque rem magni? Sit, numquam tenetur. Quam deleniti, ratione cumque aspernatur aut natus iste provident ex sed eius quaerat distinctio?
                        a(href="mailto:yusuf4zzam@gmail.com") Contact
                    
                .img-box 
                    img(src="./images/book.png", alt="Book Photo")


        <!-- ------------------------------------  About Me Box ------------------------------------ -->       
        section.about#about
            .container 
                .content-grid 
                    .card
                        i(class="fas fa-user-shield fa-4x")
                        h3 Security
                    .card
                        i(class="fas fa-tools fa-4x")
                        h3 Fixing Issues
                    .card
                        i(class="fas fa-palette fa-4x")
                        h3 Design
                    .card
                        i(class="fas fa-bullhorn fa-4x")
                        h3 Marketing


                .content-info 
                    h3 About Me
                    h2 Better Design, 
                        br
                        | Better Experiences
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores incidunt eaque rem magni? Sit, numquam tenetur. Quam deleniti, ratione cumque aspernatur aut natus iste provident ex sed eius quaerat distinctio?
                    a(href="mailto:yusuf4zzam@gmail.com") Contact


        <!-- ------------------------------------  Testimonials Box ------------------------------------ -->       
        section.testimonials#testimonials
            .container 
                .header-content
                    h3 testimonials
                    h2 Get to Know Us

                .content 
                    .box
                        .image-box 
                            img(src="images/avatar-01.png", alt="")

                        .text-box 
                            h3 Mohamed Farag
                            span Front-end Developer
                            .rate 
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.far.fa-star.empty
                                i.far.fa-star.empty
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
                    .box
                        .image-box 
                            img(src="images/avatar-02.png", alt="")

                        .text-box 
                            h3 Mohamed Ibrahim
                            span Back-end Developer
                            .rate 
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.far.fa-star.empty
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
                    .box
                        .image-box 
                            img(src="images/avatar-03.png", alt="")

                        .text-box 
                            h3 Shady Nabil
                            span Full Stack Developer
                            .rate 
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.far.fa-star.empty
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
                    .box
                        .image-box 
                            img(src="images/avatar-04.png", alt="")

                        .text-box 
                            h3 Amr Hendawy
                            span Back-end Developer
                            .rate 
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
                    .box
                        .image-box 
                            img(src="images/avatar-05.png", alt="")

                        .text-box 
                            h3 Sherief Ashraf
                            span Full Stack Developer
                            .rate 
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.far.fa-star.empty
                                i.far.fa-star.empty
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
                    .box
                        .image-box 
                            img(src="images/avatar-06.png", alt="")

                        .text-box 
                            h3 Yusuf Azzam
                            span Front-end Developer
                            .rate 
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                                i.filled.fas.fa-star
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus

        

        <!-- ------------------------------------  Events Box ------------------------------------ -->       
        section.events#events
            .container
                .header-content
                    h3 Events
                    h2 Latest Events

                .content 
                    .image-box
                        img(src="images/events.png", alt="")
                    
                    .text-box
                        .date-box 
                            .days
                                h3 00
                                p Days
                            .hours
                                h3 00
                                p Hours
                            .minutes
                                h3 00
                                p Minutes
                            .seconds
                                h3 00
                                p Seconds
                        
                        .main-content-text
                            h3 Tech Masters Event 2021
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vero tenetur doloremque iusto ut adipisci quam ratione aliquam excepturi nulla in harum, veritatis porro

                .footer-content(data-aos="fade-up")
                    form(action="")
                        .input-container 
                            input(type="text" id="email")
                            label(for="email") Enter Your Email
                            button(type="submit") Subscribe



        <!-- ------------------------------------  Footer Box ------------------------------------ -->       
        footer
            .container 
                .copy-right 
                    p Made & Designed By 
                        b Yusuf Azzam
                        i(class="fa-solid fa-heart")
        <!-- ------------------------------------  Includes JS Files ------------------------------------ -->       
        script(src="js/all.min.js")
        script(src="js/main.js")