/*--------------------------- Include The Global Rules ---------------------------*/
@import "../../includes/CssIncludes/globalRules";
@import "../../includes/CssIncludes/Animations";
@import "../../includes/CssIncludes/header-style";

/*--------------------------- Header Content Rules ---------------------------*/
.header-content {
  margin-top: 100px;
  margin-bottom: 20px;
  .container {
    display: flex;
    align-items: center;
    gap: 15px;
    h2 {
      letter-spacing: 6px;
      font-family: "Abril Fatface", cursive;
      font-weight: 600;
    }
    img {
      width: 70px;
    }
  }
}

/*--------------------------- Start Button Rules ---------------------------*/
.start-btn {
  padding: 15px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;

  &.active {
    top: 0;
    opacity: 0;
  }

  button {
    padding: 8px 30px;
    background: none;
    border: none;
    color: var(--heading-color);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2.5em;
    border: 2px solid var(--heading-color);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
  }

  @media (max-width: 991px) {
    button {
      font-size: 2em;
    }
  }

  @media (max-width: 767px) {
    button {
      font-size: 1.5em;
      padding: 8px 15px;
    }
  }
}

main {
  overflow: hidden;
  height: 100vh;

  &.exam-active {
    height: 100%;
    overflow: auto;

    .exam {
      margin-top: 0;
      opacity: 1;
    }
  }

  .exam {
    margin-top: 500px;
    opacity: 0;
    transition: 0.5s;

    .container {
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;

        .counter {
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 1px;
          color: var(--heading-color);
        }

        .question-count {
          color: var(--text-color);
          font-size: 18px;
          letter-spacing: 1px;
          span {
            color: var(--heading-color);
          }
        }
      }

      .question-box {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 20px;
        background: var(--bg-color-transparent);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        margin: 15px 0 30px;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          backdrop-filter: blur(5px);
          z-index: -1;
        }

        h2 {
          margin-bottom: 10px;
          color: var(--heading-color);
          line-height: 1.5;
          font-size: 30px;
        }

        .input-container {
          display: flex;
          align-items: center;

          input {
            appearance: none;

            &:checked {
              + label {
                color: var(--heading-color);
                &:after {
                  transform: translateY(-50%) rotate(0deg) scale(1);
                  background: var(--heading-color);
                  opacity: 1;
                }

                &:before {
                  border-color: transparent;
                }
              }
            }
          }

          label {
            position: relative;
            font-size: 18px;
            font-weight: 600;
            margin-left: 35px;
            color: var(--text-color);
            user-select: none;
            transition: 0.5s;
            cursor: pointer;

            &:after {
              content: "\f00c";
              font-family: "Font Awesome 5 Free";
              font-weight: bold;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              left: -35px;
              top: 50%;
              transform: translateY(-50%) rotate(-280deg) scale(0);
              width: 22px;
              height: 22px;
              border-radius: 3px;
              background: var(--text-color);
              color: var(--bg-color-1);
              opacity: 0;
              transition: 0.5s;
            }

            &:before {
              content: "";
              position: absolute;
              left: -35px;
              top: 50%;
              transform: translateY(-50%);
              width: 20px;
              height: 20px;
              border: 2px solid var(--text-color);
              border-radius: 3px;
            }
          }
        }

        .number {
          position: absolute;
          right: 50px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 7em;
          z-index: -10;
          font-weight: bold;
          color: var(--heading-color);
        }
      }
    }

    .submit {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;

      .bullets {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 7px;
        span {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--bg-color-1);
          border-radius: 50%;
          background: var(--heading-color);
          font-weight: bold;
          letter-spacing: 1px;
          font-size: 14px;
          user-select: none;
          pointer-events: none;
          opacity: 0.5;
          transition: 0.5s;
          &.focus {
            opacity: 1;
          }
        }
      }

      button {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 15px 0;
        border: none;
        color: var(--bg-color-1);
        background: var(--heading-color);
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 5px;
        text-transform: uppercase;
        user-select: none;
        cursor: pointer;
      }
    }
  }
}

/*--------------------------- Error handler Rules ---------------------------*/
.grade-box {
  .container {
    min-height: calc(100vh - 157px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      color: var(--heading-color);
      font-size: 4em;
      letter-spacing: 6px;

      &.perfect {
        color: #4caf50;
      }

      &.good {
        color: #cddc39;
      }

      &.again {
        color: #f44336;
      }
    }

    p {
      color: var(--text-color);
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 20px;
      text-align: center;
    }
  }
}

/*--------------------------- Error handler Rules ---------------------------*/
.error-handler {
  min-height: calc(100vh - 75px);
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .container-box {
    padding: 0 15px;
    svg {
      font-size: 3em;
      color: var(--main-color-2);
    }

    h3 {
      font-size: 3em;
      letter-spacing: 1px;
      color: var(--heading-color);
      margin: 10px 0 15px;
    }

    p {
      color: var(--text-color);
      letter-spacing: 1px;
      line-height: 1.5;
      font-size: 18px;
      width: 70%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 767px) {
  .error-handler p {
    width: 100% !important;
  }
}

/*--------------------------- Footer Box Rules ---------------------------*/

footer {
  text-align: center;
  color: var(--text-color);
  padding: 30px 0;
  font-size: 18px;
  letter-spacing: 1px;

  svg {
    color: #f00;
    margin-left: 5px;
  }
}
