/*--------------------------- Include The Global Rules ---------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --hue-1: 257;
  --hue-2: 47;
  --main-color-1: hsl(var(--hue-1), 100%, 60%);
  --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
  --main-color-2: hsl(var(--hue-2), 100%, 61%);
  --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
}

/*--------------------------- Global Rules ---------------------------*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  --bg-color: hsl(var(--hue-1), 100%, 97%);
  --bg-color-1: hsl(var(--hue-1), 100%, 95.5%);
  --bg-color-2: #fff;
  --bg-color-3: hsl(var(--hue-1), 100%, 98%);
  --bg-color-transparent: rgba(255, 255, 255, 0.6);
  --heading-color: hsl(var(--hue-1), 61%, 24%);
  --text-color: hsl(257deg 10% 43%);
  background: var(--bg-color);
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  padding: 0 3px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--heading-color);
}

body.active {
  height: 100vh;
  overflow: hidden;
}

body.dark {
  --bg-color: hsl(var(--hue-1), 19%, 15%);
  --bg-color-1: hsl(var(--hue-1), 21%, 11%);
  --bg-color-2: hsl(var(--hue-1), 23%, 19%);
  --bg-color-3: hsl(var(--hue-1), 23%, 24%);
  --bg-color-transparent: hsla(var(--hue-1), 23%, 19%, 0.6);
  --heading-color: hsl(var(--hue-1), 100%, 95%);
  --text-color: hsl(257deg 13% 59%);
}

::-moz-selection {
  background-color: var(--main-color-1);
  color: var(--bg-color-1);
}

::selection {
  background-color: var(--main-color-1);
  color: var(--bg-color-1);
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 767px) and (max-width: 991px) {
  .container {
    width: 767px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .container {
    width: 991px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-content {
  margin-bottom: 70px;
  color: var(--heading-color);
}

.header-content h2 {
  font-size: 2.5em;
}

.header-content h3 {
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  padding: 0.13rem 0.75rem;
  border-left: 3px solid var(--main-color-2);
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .header-content h2 {
    font-size: 2em;
  }
}

.content-info h3 {
  color: var(--heading-color);
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  padding: 0.13rem 0.75rem;
  border-left: 3px solid var(--main-color-2);
  margin-bottom: 1rem;
}

.content-info h1,
.content-info h2 {
  color: var(--heading-color);
  font-size: 3rem;
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 0.85rem;
}

.content-info p {
  color: var(--text-color);
  line-height: 1.5;
}

.content-info a {
  display: inline-block;
  color: #fff;
  background: var(--main-color-1);
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content-info a:hover {
  background: transparent;
  color: var(--main-color-1);
  border: 1px solid var(--main-color-1);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@-webkit-keyframes imgAnimate {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes imgAnimate {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes textAnimate {
  40%,
  60% {
    left: calc(100% + 5px);
  }
  100% {
    left: 0;
  }
}

@keyframes textAnimate {
  40%,
  60% {
    left: calc(100% + 5px);
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes slide {
  100% {
    top: -560px;
  }
}

@keyframes slide {
  100% {
    top: -560px;
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translate(-100px, 30px) scale(0.4) rotate(0deg);
            transform: translate(-100px, 30px) scale(0.4) rotate(0deg);
    border-radius: 0;
    z-index: 1;
  }
  50% {
    -webkit-transform: translate(100px, -30px) scale(0.4) rotate(180deg);
            transform: translate(100px, -30px) scale(0.4) rotate(180deg);
    border-radius: 0;
    z-index: 1;
  }
  50.00001% {
    -webkit-transform: translate(100px, -30px) scale(0.4) rotate(180deg);
            transform: translate(100px, -30px) scale(0.4) rotate(180deg);
    border-radius: 50%;
    z-index: 3;
  }
  100% {
    -webkit-transform: translate(-100px, 30px) scale(0.4) rotate(360deg);
            transform: translate(-100px, 30px) scale(0.4) rotate(360deg);
    border-radius: 50%;
    z-index: 3;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translate(-100px, 30px) scale(0.4) rotate(0deg);
            transform: translate(-100px, 30px) scale(0.4) rotate(0deg);
    border-radius: 0;
    z-index: 1;
  }
  50% {
    -webkit-transform: translate(100px, -30px) scale(0.4) rotate(180deg);
            transform: translate(100px, -30px) scale(0.4) rotate(180deg);
    border-radius: 0;
    z-index: 1;
  }
  50.00001% {
    -webkit-transform: translate(100px, -30px) scale(0.4) rotate(180deg);
            transform: translate(100px, -30px) scale(0.4) rotate(180deg);
    border-radius: 50%;
    z-index: 3;
  }
  100% {
    -webkit-transform: translate(-100px, 30px) scale(0.4) rotate(360deg);
            transform: translate(-100px, 30px) scale(0.4) rotate(360deg);
    border-radius: 50%;
    z-index: 3;
  }
}

/*--------------------------- Header Box Rules ---------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: var(--bg-color-transparent);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 999999999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header.active {
  -webkit-box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}

header .logo a {
  display: inline-block;
  color: var(--heading-color);
  font-size: 22px;
  letter-spacing: 1px;
  font-family: "Abril Fatface", cursive;
}

header .logo a span {
  color: var(--main-color-1);
}

header .main-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

header .main-list .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

header .main-list .lists a {
  position: relative;
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: 1px;
  opacity: 0.9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .main-list .lists a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: var(--main-color-1);
  bottom: 0;
  left: -5px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .main-list .lists a:hover, header .main-list .lists a.active {
  color: var(--heading-color);
}

header .main-list .lists a:hover::after, header .main-list .lists a.active::after {
  opacity: 0.2;
}

header .main-list .icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  border-radius: 50%;
  color: var(--heading-color);
  -webkit-box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

header .main-list .icon:after {
  content: "\f186";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

header .main-list .icon.active:after {
  content: "\f185";
}

header .toggle-btn {
  font-size: 24px;
  display: none;
  color: var(--heading-color);
  cursor: pointer;
}

/*--------------------------- Header Responsive Design ---------------------------*/
@media (max-width: 991px) {
  .header .container {
    gap: 0 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .toggle-btn {
    display: block;
  }
  .header .main-list {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 0;
    overflow: hidden;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header .main-list.active {
    height: calc(100vh - 75px);
  }
  .header .main-list .lists {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

body {
  position: relative;
  overflow-x: hidden;
}

/*--------------------------- Loader Rules ---------------------------*/
.loader {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 90px;
  top: 100px;
  border-radius: 50%;
  z-index: -1;
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.loader span:nth-child(1) {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-top: 0.25px solid var(--bg-color-transparent);
  border-left: 0.25px solid var(--bg-color-transparent);
  z-index: 2;
}

.loader span:nth-child(2) {
  background: var(--main-color-2);
  -webkit-animation: animate 3s ease-in-out infinite;
          animation: animate 3s ease-in-out infinite;
}

.loader span:nth-child(3) {
  background: #2196f3;
  -webkit-animation: animate 3s -1.5s ease-in-out infinite;
          animation: animate 3s -1.5s ease-in-out infinite;
}

@media (max-width: 767px) {
  .loader {
    right: 15px;
  }
}

/*--------------------------- Header Content Rules ---------------------------*/
.header-content {
  margin-top: 100px;
  margin-bottom: 20px;
}

.header-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header-content .container h2 {
  letter-spacing: 6px;
  font-family: "Abril Fatface", cursive;
  font-weight: 600;
}

.header-content .container img {
  width: 70px;
}

/*--------------------------- Start Button Rules ---------------------------*/
.start-btn {
  padding: 15px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.start-btn.active {
  top: 0;
  opacity: 0;
}

.start-btn button {
  display: inline-block;
  padding: 8px 30px;
  background: none;
  border: none;
  color: var(--heading-color);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 2.5em;
  border: 2px solid var(--heading-color);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

@media (max-width: 991px) {
  .start-btn button {
    font-size: 2em;
  }
}

@media (max-width: 767px) {
  .start-btn button {
    font-size: 1.5em;
    padding: 8px 15px;
  }
}

@media (max-width: 461px) {
  .start-btn {
    width: 100%;
    padding: 0 15px;
  }
  .start-btn button {
    width: 100%;
  }
}

main {
  overflow: hidden;
  height: 100vh;
}

main.exam-active {
  height: 100%;
  overflow: auto;
}

main.exam-active .exam {
  margin-top: 0;
  opacity: 1;
}

main .exam {
  margin-top: 500px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .exam .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

main .exam .container .info .counter {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--heading-color);
}

main .exam .container .info .question-count {
  color: var(--text-color);
  font-size: 18px;
  letter-spacing: 1px;
}

main .exam .container .info .question-count span {
  color: var(--heading-color);
}

main .exam .container .question-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  background: var(--bg-color-transparent);
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 15px 0 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .exam .container .question-box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: -1;
}

main .exam .container .question-box h2 {
  margin-bottom: 10px;
  color: var(--heading-color);
  line-height: 1.5;
  font-size: 30px;
}

main .exam .container .question-box .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .exam .container .question-box .input-container input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

main .exam .container .question-box .input-container input:checked + label {
  color: var(--heading-color);
}

main .exam .container .question-box .input-container input:checked + label:after {
  -webkit-transform: translateY(-50%) rotate(0deg) scale(1);
          transform: translateY(-50%) rotate(0deg) scale(1);
  background: var(--heading-color);
  opacity: 1;
}

main .exam .container .question-box .input-container input:checked + label:before {
  border-color: transparent;
}

main .exam .container .question-box .input-container label {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  margin-left: 35px;
  color: var(--text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

main .exam .container .question-box .input-container label:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -35px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-280deg) scale(0);
          transform: translateY(-50%) rotate(-280deg) scale(0);
  width: 22px;
  height: 22px;
  border-radius: 3px;
  background: var(--text-color);
  color: var(--bg-color-1);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .exam .container .question-box .input-container label:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid var(--text-color);
  border-radius: 3px;
}

main .exam .container .question-box .number {
  position: absolute;
  right: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 7em;
  z-index: -10;
  font-weight: bold;
  color: var(--heading-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .exam .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

main .exam .submit .bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

main .exam .submit .bullets span {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--bg-color-1);
  border-radius: 50%;
  background: var(--heading-color);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .exam .submit .bullets span.focus {
  opacity: 1;
}

main .exam .submit button {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  border: none;
  color: var(--bg-color-1);
  background: var(--heading-color);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .exam .counter,
  .exam .question-count,
  .exam .question-box label {
    font-size: 16px !important;
  }
  .exam .question-box h2 {
    font-size: 22px !important;
  }
  .exam .number {
    opacity: 0 !important;
  }
}

/*--------------------------- Error handler Rules ---------------------------*/
.grade-box .container {
  min-height: calc(100vh - 157px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grade-box .container.perfect h2,
.grade-box .container.perfect svg {
  color: #4caf50 !important;
}

.grade-box .container.very-good h2,
.grade-box .container.very-good svg {
  color: #2196f3 !important;
}

.grade-box .container.good h2,
.grade-box .container.good svg {
  color: #cddc39 !important;
}

.grade-box .container.again h2,
.grade-box .container.again svg {
  color: #f44336 !important;
}

.grade-box .container svg {
  font-size: 5em;
}

.grade-box .container h2 {
  font-size: 4em;
  letter-spacing: 6px;
  text-align: center;
  margin: 10px 0 15px;
}

.grade-box .container p {
  color: var(--text-color);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 425px) {
  .grade-box h2 {
    font-size: 3em !important;
  }
  .grade-box p {
    font-size: 16px !important;
  }
}

/*--------------------------- Error handler Rules ---------------------------*/
.error-handler {
  min-height: calc(100vh - 75px);
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.error-handler .container-box {
  padding: 0 15px;
}

.error-handler .container-box svg {
  font-size: 3em;
  color: var(--main-color-2);
}

.error-handler .container-box h3 {
  font-size: 3em;
  letter-spacing: 1px;
  color: var(--heading-color);
  margin: 10px 0 15px;
}

.error-handler .container-box p {
  color: var(--text-color);
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 18px;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .error-handler p {
    width: 100% !important;
  }
}

/*--------------------------- Footer Box Rules ---------------------------*/
footer {
  text-align: center;
  color: var(--text-color);
  padding: 30px 0;
  font-size: 18px;
  letter-spacing: 1px;
}

footer svg {
  color: #f00;
  margin-left: 5px;
}
/*# sourceMappingURL=main.css.map */