doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Exams | Examiner

        <!-- ------------------------------------  CSS Files ------------------------------------ -->
        link(rel="stylesheet", href="../css/all.min.css")
        link(rel="stylesheet", href="css/main.css")
    body 

        <!-- ------------------------------------  Header Box ------------------------------------ -->       
        header.header 
            .container
                .logo
                    a(href="../index.html#") Exam
                        span iner

                ul.main-list
                    .lists
                        li
                            a(href="../index.html#") Home
                        li
                            a(href="../index.html#about") About
                        li
                            a(href="../index.html#testimonials") Testimonials
                        li
                            a(href="../index.html#events") Events
                        li
                            a(href="../index.html#events").active Exams

                    .icon 

                .toggle-btn 
                    i(class="fa-solid fa-bars")

        <!-- ------------------------------------  JS Files ------------------------------------ -->       
        section.exams 
            .container 
                .header-content 
                    h3 Exams
                    h2 Browse Our Exams, 
                        br
                        |Gain Experience

                .controlers 

                .content 
                    .exam-container 


        <!-- ------------------------------------  JS Files ------------------------------------ -->       
        script(src="../js/all.min.js")
        script(src="js/exmas.js")